<li><a id="calendario" class="waves-effect calendario"><i class="material-icons">event</i>Calendario gare</a></li>
<li><a id="iscrizioni" class="waves-effect iscrizioni"><i class="material-icons">event_available</i>Iscrizioni</a></li>
<li><a id="allenamenti" class="waves-effect allenamenti"><i class="material-icons">assignment</i>Allenamenti</a></li>
<li><a id="test" class="waves-effect test"><i class="material-icons">done</i>Test atletici</a></li>
<li><a id="logout" class="waves-effect logout"><i class="material-icons">power_settings_new</i>Logout</a></li>