<footer class="page-footer cyan">
  <div class="container">

    <h5 class="white-text">Athager&copy;</h5>

    <p class="grey-text text-lighten-4">Presentato come progetto di tesina per la maturità, Athager è stato progettato, pensato e creato per rendere più veloce ed immediata la gestione degli atleti.</p>
    <p class="grey-text text-lighten-4">L'autore del progetto, inoltre, si è prefissato di utilizzare tecnologie all'avanguardia utili nel futuro mondo del lavoro e per stuzzicare la curiosità degli studenti.</p>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Paolo Galletta &copy;
    </div>
  </div>
</footer>
