<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="javascripts/jquery.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="539406987228-pr009skdrel4mus3k08ujlmj3edsjf1a.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>
    Athager &copy;
  </title>
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/md5.min.js" charset="utf-8"></script>
  <script src="javascripts/socket.io.slim.js" charset="utf-8"></script>
</head>
