<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <img class="logoImg" src="images/athager-logo.png" alt="">
    <a id="logo-container" href="#" class="brand-logo">Athager</a>
    <ul class="right hide-on-med-and-down">
      <img class="roundImg" src="images/man.png">
      <span class="welcome"></span>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <img class="roundImg" src="images/man.png">
      <span class="welcome"></span>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse cyan-text"><i class="material-icons">menu</i></a>
  </div>
</nav>
