<li><a id="calendario" class="waves-effect calendario"><i class="material-icons">event</i>Calendario gare</a></li>
<li><a id="gruppo" class="waves-effect gruppo"><i class="material-icons">group</i>Gruppo atleti</a></li>
<li><a id="richieste" class="waves-effect richieste"><i class="material-icons">list</i>Richieste iscrizioni</a></li>
<li><a id="athleteTrainings" class="waves-effect athleteTrainings"><i class="material-icons">assessment</i>Visualizza gli allenamenti</a></li>
<li><a id="allenamenti" class="waves-effect allenamenti"><i class="material-icons">assignment</i>Aggiungi allenamento</a></li>
<li><a id="logout" class="waves-effect logout"><i class="material-icons">power_settings_new</i>Logout</a></li>