<li><a id="calendario" class="waves-effect calendario"><i class="material-icons">event</i>Calendario gare</a></li>
<li><a id="gruppo" class="waves-effect gruppo"><i class="material-icons">group_work</i>Gruppo atleti</a></li>
<li><a id="logout" class="waves-effect logout"><i class="material-icons">power_settings_new</i>Logout</a></li>