<h1>Crea allenamento:</h1>
<form>
    <div class="row">
        <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Titolo</label>
        </div>
        <div class="input-field col s6">
            <select>
                <option disabled selected>Seleziona un mese</option>
                <option value="Gennaio">Gennaio</option>
                <option value="Febbraio">Febbraio</option>
                <option value="Marzo">Marzo</option>
                <option value="Aprile">Aprile</option>
                <option value="Maggio">Maggio</option>
                <option value="Giugno">Giugno</option>
                <option value="Luglio">Luglio</option>
                <option value="Agosto">Agosto</option>
                <option value="Settembre">Settembre</option>
                <option value="Ottobre">Ottobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Dicembre">Dicembre</option>
            </select>
        </div>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Aggiungi settimana</a>
    </div>
</form>