<!DOCTYPE html>
<html lang="it">

<% include ./partials/header %>

  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.9&appId=1329352180491327";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <% include ./partials/nav %>

      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center cyan-text lighten-1-text">Athager</h1>
            <div class="row center">
              <h5 class="header col s12 light">Il nuovo modo per gestire facilmente gli atleti</h5>
            </div>
            <div class="row center">
              <a href="#loginpopup" id="login-button" class="btn-large waves-effect waves-light cyan lighten-1">Get Started</a>
              <div id="loginpopup" class="modal gray-text">
                <div class="modal-content">
                  <h4 class="black-text">Login</h4>
                  <div>
                    <form>
                      <div class="row">
                        <div class="col s12 m6 input-field">
                          <input id="email" class="validate" type="email" />
                          <label for="email">Email</label>
                        </div>
                        <div class="col s12 m6 input-field">
                          <input id="password" class="validate" type="password" />
                          <label for="password">Password</label>
                        </div>
                      </div>
                        <div class="row">
                          <div class="centered col m4">
                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                          </div>
                          <div class="centered col m4">
                            <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-scope="public_profile" data-use-continue-as="true" onlogin="updateStatusCallback">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <a href="http://localhost:3000/register">Oppure registrati compilando il form</a>
                        </div>
                      </div>
                    </form>
                  </div>
                <div class="modal-footer">
                  <a href="#!" class="login modal-action modal-close waves-effect waves-cyan btn-flat">Login</a>
                  <a href="#!" class="modal-action modal-close waves-effect waves-cyan btn-flat">Annulla</a>
                </div>
              </div>
            </div>
            <br><br>

          </div>
        </div>
        <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
      </div>


      <div class="container">
        <div class="section">

          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center cyan-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Veloce</h5>

                <p class="light">Athager utilizza tecnologie di ultimissima generazione che lo rendono veloce ed intuitivo</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center cyan-text"><i class="material-icons">group</i></h2>
                <h5 class="center">Gestione intuitiva</h5>

                <p class="light">Athager segue le linee guida del Material-Design, dunque possiede un interfaccia moderna ed intuitiva</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center cyan-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Facile</h5>

                <p class="light">Non è necessaria una laurea in ingegneria per poter utilizzare Athager</p>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">Creato da un atleta, per atleti</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="images/background2.jpg" alt="Unsplashed background img 2"></div>
      </div>

      <div class="container">
        <div class="section">

          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>Inizia ora</h4>
              <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id,
                viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac,
                gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
          </div>

        </div>
      </div>


      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
      </div>

      <% include ./partials/footer %>

        <!--  Scripts-->
        <script src="javascripts/init.js"></script>
  </body>

</html>
