<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="../javascripts/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, <ma></ma>ximum-scale=1.0, user-scalable=no" />
  <title>Athager &copy; - Register</title>
  <script src="../javascripts/registration.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <script src="../javascripts/md5.min.js"></script>
</head>

<body class="grey lighten-4">
  <div class="container">
    <div class="row">
      <input name="img" class="fileExplorer" type="file" />
      <!-- Input file nascosto che viene azionato dal floating button verde -->
      <div class="col s12 m6 l7 ">
        <h5>Registrati ad Athager </h5>
        <div class="card">
          <div class="card-image">
            <img id="profileImg" src="../images/man.png">
            <div class="fixed-action-btn horizontal">
              <a class="btn-floating btn-large red openFile">
                <i class="large material-icons">mode_edit</i>
              </a>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="input-field col m6 s12">
                <input id="name" type="text" class="validate" />
                <label for="name">Nome</label>
              </div>
              <div class="input-field col m6 s12">
                <input id="surname" type="text" class="validate" />
                <label for="surname">Cognome</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <div class="input-field">
                  <input id="email" type="email" class="validate" />
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="input-field ">
                  <input id="confirmEmail" type="email" class="validate" />
                  <label for="confirmEmail">Conferma email</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                <div class="input-field ">
                  <input id="password" type="password" class="validate" />
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="input-field ">
                  <input id="confirmPassword" type="password" class="validate" />
                  <label for="confirmPassword">Conferma password</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 rolesDiv">
                <div class="input-field">
                  <select>
                    <option value="" disabled selected>Scegli un ruolo</option>
                    <% roles.forEach(function(role){ %>
                    <option  value=<%= role.name %>><%= role.name %> </option>
                    <%});%>
                  </select>
                  <label>Ruolo</label>
                </div>
              </div>
              <div class="input-field col s12 m5 hide specDiv">
                <div class="input-field">
                  <select>
                    <option value="" disabled selected>Scegli specialità</option>
                    <% categories.forEach(function(category){ %>
                    <option  value=<%= category.categoryName %>><%= category.categoryName %> </option>
                    <%});%>
                  </select>
                  <label>Specialità</label>
                </div>
              </div>
            </div>
          </div>

          <button class="btn waves-effect waves-light allCard" type="submit" name="action">Registrati
          <i class="material-icons right">send</i>
        </button>
        </div>
      </div>
    </div>
  </div>

  <script src="../javascripts/materialize.js"></script>
</body>

</html>